extends layout/index
block speakerslist
  include includes/speakerslist
block content    
  #home.container
    .row
      .col-sm-8
        .maincontent
          article.article
            h1.article-title Who?
            p
              | Trip suggest a travel technology company. Its websites, which are primarily travel fare aggregators and travel metasearch engines, include CarRentals.com, Expedia.com, HomeAway, 
              |Hotels.com, Hotwire.com, Orbitz, Travelocity, trivago, Venere.com and vrbo. The website is part of Group, which is a U.S.-based global 
              |travel technology company. For the most part, the Expedia Group's websites are travel metasearch engines and travel fare aggregators.
    
          // article
          article.article
            h1.article-title Just Connect!
            p
             | If you want keep up with advise on trip just follow us on Facebook, Twitter and Instagram.
